@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  direction: rtl;
  background-color: #f9f8f6;
}
@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 200;
  src: url("/font/IRAN Yekan Pro/Source 1 V3.0 Older/IRANYekanLight.ttf")
    format("ttf");
}

* {
  font-family: "Yekan";
}
@layer{
  @font-face {
    font-family: Yekan;
    src: url(/my-app/public/font/IRAN\ Yekan\ Pro/);
  }
}